<!--<div class="row individualComment" *ngFor = 'let key of backService.commentListShow[id]; index as i'>
        <div class="media">
                <img class="d-flex mr-3 imgPart" src={{key.image}} alt="Generic placeholder image">
                <div class="media-body">
                  <p class="mt-0 font-weight-bold firstLine"> {{key.author}} <span class="timePart"> {{key.time}} </span></p> 
                  <div class="commentMain">
                        {{key.comment}}

                        <div class="buttonPart">
                                <button mat-button class="likeBtn">
                                        <i class="material-icons">
                                        thumb_up
                                        </i>
                                </button>
                                <button mat-button class="dislikeBtn">
                                        <i class="material-icons">
                                        thumb_down
                                        </i>
                                </button>
                                <button mat-flat-button class="commentBtn" (click)="reply(key)">
                                        Reply
                                </button>
                        </div>
                    </div>

                    
                </div>
              </div>
</div>-->


<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
          <li class="mat-tree-node">
            <!-- use a disabled button to provide padding for tree leaf -->
            <button mat-icon-button disabled class="dropBtn"></button>
            <div class="media">
                    <img class="d-flex mr-3 imgPart" src={{node.image}} alt="Generic placeholder image">
                    <div class="media-body">
                            <p class="mt-0 font-weight-bold firstLine"> {{node.author}} <span class="timePart"> {{node.time}} </span></p> 
                            <div class="commentMain">
                                  {{node.comment}}
          
                                  <div class="buttonPart">
                                          <button mat-button class="likeBtn">
                                                  <i class="material-icons">
                                                  thumb_up
                                                  </i>
                                          </button>
                                          <button mat-button class="dislikeBtn">
                                                  <i class="material-icons">
                                                  thumb_down
                                                  </i>
                                          </button>
                                          <button mat-flat-button class="commentBtn" (click)="reply(key)">
                                                  Reply
                                          </button>
                                  </div>
                              </div>
          
                              
                          </div>

            </div>
          </li>
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <li>
            <div class="mat-tree-node">
              <button mat-icon-button matTreeNodeToggle class="dropBtn"
                      [attr.aria-label]="'toggle ' + node.author">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              <div class="media">
                    <img class="d-flex mr-3 imgPart" src={{node.image}} alt="Generic placeholder image">
                    <div class="media-body">
                            <p class="mt-0 font-weight-bold firstLine"> {{node.author}} <span class="timePart"> {{node.time}} </span></p> 
                            <div class="commentMain">
                                  {{node.comment}}
          
                                  <div class="buttonPart">
                                          <button mat-button class="likeBtn">
                                                  <i class="material-icons">
                                                  thumb_up
                                                  </i>
                                          </button>
                                          <button mat-button class="dislikeBtn">
                                                  <i class="material-icons">
                                                  thumb_down
                                                  </i>
                                          </button>
                                          <button mat-flat-button class="commentBtn" (click)="reply(key)">
                                                  Reply
                                          </button>

                                          
                                          
                                  </div>
                              </div>
          
                              
                          </div>

            </div>
             
            </div>
            <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
          </li>
        </mat-nested-tree-node>
      </mat-tree>