.statusCard
{
    font-family: 'Varela Round';
    
   margin-bottom: 40px;
   min-width: 100%;
}

.statusTitle
{
    font-weight: 600;
    margin-bottom: 25px;
    
}

.controlClass
{
    display: flex;
}

.statusImg
{
    max-width: 100%;
}
.likeDislikeCounter
{
    background: #F7F8FA;
    padding: 0;
    
}

.likeBtn ,.dislikeBtn,.commentBtn
{
      
    color: grey;
}

.storyClass
{
    font-size: 16px;
}

.btnSection
{
    margin-top: 15px;

}


.commentSectionClass
{
    overflow-x: auto;
}

.mainComment
{
    min-width: 100%;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 15px;
}

.dislikeThumb
{
    color:#CD5C5C;
}

.likeThumb
{
    color: #20B2AA;
}